<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Landing Page!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.1/css/uikit.min.css">
        <link rel="stylesheet" type="text/css" href="{{asset('css/estilos.css')}}">
        {% endblock %}
    </head>
    <body align="center">
        {% block body %}<h1 class="uk-text-center">¿Cual prefieres?</h1><br>
        <div>
        <a href="equipo/1" class="uk-button uk-button-primary">Valencia C.F</a>
        <a href="equipo/2" class="uk-button uk-button-primary">Levante UD</a><br>
        </div>
        {% endblock %}
    </body>
</html>
